src/assignment1/__pycache__/
src/assignment2/__pycache__/
src/assignment1/logs/
src/assignment1/data/
data/
logs/

# .gitignore

# Pyhon byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Scala and sbt related
*.class
*.log

# sbt specific
assignment8/lib_managed/
assignment8/.bsp
src/assignment8/scala/project
src/assignment8/scala/target
src_managed/
project/boot/
project/plugins/project/
target/
dist/*

# Worksheets (Scala IDE and IntelliJ)
*.sc

# Eclipse files
.buildpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*out/

# VSCode files
.vscode/

# Mac OS folder attribute files
.DS_Store

# Temporary files
tmp/
temp/

# Logs
logs/
*.log

# Others
caches/
.history
.repl/

# Packaging
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ensime (older Scala IDE tooling)
.ensime
.ensime_cache
.ensime_lucene

# Metals (Scala language server) artifacts
.metals/
.bloop/