src/assignment1/__pycache__/
src/assignment2/__pycache__/
src/assignment1/logs/
src/assignment1/data/
data/
logs/

# .gitignore

# Pyhon byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
